.about-container {
  height: 100%;
  top: 0rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
}

.about-images-container {
  position: relative;
  width: 500px;
  height: 500px;
  right: 150px;
}

.body {
  height: 100%;
  z-index: 10;
  position: absolute;
  margin-left: 5rem;
}

.trees {
  position: absolute;
  height: 95%;
}

.about-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 500px;
  font-size: 1.75rem;
  line-height: 1.5;
  font-weight: 200;
  font-style: italic;
  position: relative;
  top: -1rem;
  color: #656363;
  align-items: flex-start;
}

.about-text-line-one,
.about-text-line-two {
  text-align: left;
  transform: translateY(30%);
  opacity: 0;
  animation: fadeUp 1s ease forwards;
}

.about-text-line-one {
  animation-delay: 3s;
}

.about-text-line-two {
  animation-delay: 4s;
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.slide-in-face,
.slide-in-face-two {
  opacity: 0;
  transform: translateX(-100%);
  animation: slideIn 1s ease forwards;
}

.slide-in-face {
  animation-delay: 1s;
}

.slide-in-face-two {
  animation-delay: 2s;
}

@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateX(0); /* end at natural position */
  }
}

/* ========================= */
/*        MEDIA QUERIES      */
/* ========================= */

@media (max-width: 1024px) {
  .about-container {
    flex-direction: column;
    margin-left: 0;
  }

  .about-images-container {
    height: 200px;
    width: 200px;
    margin-top: 2rem;
  }

  .about-text {
    width: 300px;
    margin: auto;
  }

  .about-text-line-one,
  .about-text-line-two {
    text-align: unset;
  }

  .body {
    height: 300px;
    margin-left: 3.5rem;
  }

  .trees {
    height: 300px;
  }
}

@media (min-width: 1920px) {
  .about-images-container {
    height: 800px;
    width: 800px;
    right: 300px;
  }
}
