h3 {
  font-size: 2rem;
}

/* Cart Icon */
.shopping-cart-icon-container {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 3000;
  cursor: pointer;
}

.shopping-cart-icon {
  height: 2rem;
}

.shopping-cart-number {
  position: absolute;
  top: -0.2rem;
  right: -0.1rem;
  background-color: #f02d34;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
}

/* Overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0);
  z-index: 1000;
  transition: background-color 0.3s ease-in-out;
}

.overlay.active {
  background-color: rgba(0, 0, 0, 0.45);
}

/* Sidebar Cart */
.shopping-cart-is-visible,
.shopping-cart-is-hidden {
  position: fixed;
  top: 0;
  right: 0;
  width: 600px;
  height: 100vh;
  background-color: white;
  z-index: 2000;
  display: flex;
  flex-direction: column;
  overflow: hidden; /* prevents whole panel from scrolling */
  transition: transform 0.3s ease-in-out;
}

.shopping-cart-is-visible {
  transform: translateX(0);
}

.shopping-cart-is-hidden {
  transform: translateX(100%);
}

/* Header */
.cart-header {
  height: 5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 2rem;
  gap: 1rem;
  font-size: 1.25rem;
}

.cart-header-arrow {
  height: 1rem;
}

.cart-products-list {
  flex: 1; /* fills available space between header + footer */
  overflow-y: auto; /* enables scrolling */
  padding: 2rem 0 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin-bottom: 10rem;
}

/* Product Card */
.cart-product-card {
  display: flex;
  width: calc(100% - 4rem);
  margin-left: 2rem;
  justify-content: flex-start;
  gap: 2rem;
  height: 10rem;
}

.cart-product-image {
  height: 100%;
  border: 1px solid #00000061;
  border-radius: 4px;
}

.cart-product-info-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cart-product-info-title,
.cart-product-info-price {
  font-size: 1.5rem;
  font-weight: 500;
}

.cart-product-info {
  display: flex;
  justify-content: space-between;
}

.cart-product-subtotal {
  margin-top: 0.5rem;
}

.cart-product-buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-product-buttons {
  display: flex;
  height: 2rem;
}

.cart-product-minus-button,
.cart-product-add-button {
  border: 1px solid gray;
  width: 2rem;
  align-content: center;
  cursor: pointer;
}

.cart-product-quantity {
  border: 1px solid gray;
  width: 2rem;
  border-left: 0;
  border-right: 0;
  align-content: center;
}

.cart-product-delete-button {
  height: 1.5rem;
  cursor: pointer;
}

/* Footer */
.cart-footer-container {
  position: absolute;
  bottom: 0;
  height: 10rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.cart-footer-total {
  display: flex;
  justify-content: space-between;
  margin-left: 2rem;
  width: calc(100% - 4rem);
  margin-top: 1rem;
}

.cart-footer-button {
  height: 3rem;
  width: 400px;
  background-color: #0096ff;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-size: 1.25rem;
  color: white;
  cursor: pointer;
}

.empty-cart {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: calc(100vh - 15rem);
  gap: 2rem;
}

.shopping-bag-icon {
  height: 18rem;
}

@media (max-width: 1024px) {
  .shopping-cart-is-visible {
    width: 100%;
  }

  .cart-product-info-title {
    text-align: left;
    font-size: 1.25rem;
  }

  .cart-product-info-price {
    font-size: 1.25rem;
  }

  .shopping-cart-icon-container {
    top: 1.55rem;
    right: 3.5rem;
  }
}

@media (max-width: 480px) {
  .cart-footer-button {
    width: calc(100vw - 2rem);
  }
}

