.navbar-container {
  display: flex;
  gap: 2rem;
  background-color: #fff;
  z-index: 1000;
  padding: 1rem;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
}

.navbar-icons-container {
  display: flex;
  gap: 0.5rem;
  height: 4rem;
  z-index: 1000;
}

.menu-overlay {
  display: none;
}

.navbar-hamburger-menu-target-area {
  display: none;
}

.navbar-hamburger-menu-container {
  display: none;
}

.hamburger-menu {
  display: none;
}

.web-logo {
  height: 4rem;
}

.kh-icon {
  height: 4rem;
}

/* ========================= */
/*        MOBILE MODE        */
/* ========================= */
@media (max-width: 480px) {
  .navbar-container {
    padding: 1rem 0;
    align-items: flex-start;
    position: sticky;
    top: 0;
    flex-direction: row;
  }

  .navbar-hamburger-menu-target-area {
    height: 100%;
    width: 4rem;
    display: block;
  }

  .navbar-hamburger-menu-container {
    display: flex;
    align-items: center;
    height: 3rem;
  }

  .navbar-hamburger-icon {
    position: absolute;
    right: 0rem;
    z-index: 1000;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 7px;
  }

  .bar {
    background-color: black;
    height: 3px;
    width: 1.75rem;
    border-radius: 4px;
    transition: all 0.5s ease;
  }

  .bar-menu-opened:nth-of-type(1) {
    transform: rotate(45deg);
    position: relative;
    top: 6px;
    width: 2rem;
  }

  .bar-menu-opened:nth-of-type(2) {
    display: none;
  }

  .bar-menu-opened:nth-of-type(3) {
    transform: rotate(-45deg);
    position: relative;
    bottom: 4px;
    width: 2rem;
  }

  .hamburger-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding-top: 5rem;
    padding-right: 2rem;
    transform: translateX(100%);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
    pointer-events: none;
    z-index: 999;
  }

  .active-hamburger-menu {
    transform: translateX(0);
    opacity: 1;
    pointer-events: auto;
  }

  .navbar-hamburger-menu-link-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-end;
    padding-right: 2rem;
  }

  .navbar-icons-container {
    gap: 0.5rem;
    height: 3rem;
  }

  .web-logo {
    height: 3rem;
  }

  .kh-icon-container {
    display: flex;
    align-items: center;
    position: relative;
    top: 2px;
  }

  .kh-icon {
    height: 2rem;
  }

  .mobile-insta-icon {
    height: 3rem;
  }

  .menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 998;
    background: transparent;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .menu-overlay.open {
    pointer-events: auto;
  }
}
