.navbar-container {
  display: flex;
  gap: 2rem;
  background-color: #fff;
  z-index: 1000;
  padding: 1rem;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
}