.contact-form-and-text-container {
  max-width: 800px;
  margin: auto;
  margin-bottom: 2rem;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contact-text {
  display: flex;
  font-size: 1.75rem;
  font-weight: 200;
  color: #656363;
  text-align: left;
  padding: 2rem 0;
}

.contact-container,
.contact-text {
  transform: translateY(30%);
  opacity: 0;
  animation: fadeUp 1s ease forwards;
}

.contact-container label {
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
  font-family: "Inter";
  font-weight: 200;
  color: #656363;
}

.contact-container textarea,
.contact-container input {
  margin-bottom: 1.25rem;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 6px;
}

input[type="text"],
input[type="email"],
textarea {
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 0.75rem;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
}

textarea {
  resize: vertical;
  font-size: 1.75rem;
  font-family: "Inter";
  font-weight: 200;
  color: #656363;
}

.form-button {
  padding: 0.75rem 1.25rem;
  background-color: #0172ad;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 1.75rem;
  font-weight: 200;
  cursor: pointer;
  /*   transition: background-color 0.3s ease; */
  width: 100%;
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
