.react-photo-album--rows {
  margin-bottom: 1rem;
}

.yarl__slide_description {
  display: flex;
}

.yarl__slide_image:hover {
  cursor: pointer;
}

.yarl__button.togglebutton {
  width: 100px;
}

@media (max-width: 480px) {
  .yarl__slide_description,
  .yarl__slide_title,
  .toggle-button {
    display: none;
  }
}
