.react-photo-album--rows {
  margin-bottom: 1rem;
}

.yarl__slide_description {
  display: flex;
}

.yarl__slide_image:hover {
  cursor: pointer;
}

.yarl__button.togglebutton {
  width: 100px;
}

@media (max-width: 480px) {
  .react-photo-album--rows {
    margin-top: 1rem;
    gap: 1rem;
  }
}
