body {
  font-family: "Inter", sans-serif;
}

#root {
  margin: 0 auto;
  padding: 0 1rem;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: rgb(105, 105, 105);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.react-photo-album--masonry {
  margin-bottom: 1rem;
}

button {
  font-family: "Inter", sans-serif;
}

button:focus {
  border-radius: 0;
}

/* ========================= */
/*        MEDIA QUERIES      */
/* ========================= */

/* normal phones  */
@media (max-width: 480px) {
  .navbar-sticky-links {
    display: none;
  }
  .navbar-sticky-links-bottom-bar {
    display: none;
  }
}
