#root {
  margin: 0 auto;
  padding: 0 1rem;
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: black;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Sticky Navbar styles */
.navbar-sticky-links {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  background-color: white;
  z-index: 1000;
}

.navbar-list-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 3rem;
}

.navbar-sticky-links-bottom-bar {
  height: 2rem;
}

.react-photo-album--masonry {
  margin-bottom: 1rem;
}

/* react-photo-album styling */
/* .react-photo-album--image {
  transition: transform 0.2s ease;
}

.react-photo-album--image:hover {
  transform: scale(1.02);
}
 */
button:focus {
  border-radius: 0;
}
