.navbar-sticky-links {
  position: sticky;
  top: 0;
  display: flex;
  font-size: 1.5rem;
  justify-content: center;
  background-color: white;
  z-index: 1000;
  font-weight: 300;
}

.navbar-list-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 3rem;
  color: #000000;
}

.navbar-sticky-links-bottom-bar {
  height: 2rem;
}

.insta-icon {
  height: 1.75rem;
  position: relative;
  top: 4px;
}

.insta-icon:hover {
  opacity: 60%;
}
