.product-details-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  gap: 4rem;
  height: 60vh;
}

.product-details-image {
  height: 100%;
  max-height: 700px;
}

.product-details-information-and-thumbnails-container {
  height: 100%;
  max-height: 600px;
}

.product-details-information-container {
  display: grid;
  grid-template-rows: auto auto auto;
  align-items: center;
  justify-items: start;
  width: 100%;
  height: calc(100% - 100px);
  gap: 2rem;
}

.product-details-text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  gap: 0.5rem;
}

.product-details-title {
  font-size: 2.5rem;
}

.product-details-description {
  text-align: left;
  max-width: 330px;
  overflow: hidden;
  font-size: 1.2rem;
}

.isit-in-stock {
  color: #787878;
}

.product-details-price-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.product-details-price {
  font-size: 2rem;
  color: #000000;
  font-weight: 500;
}

.product-p-and-p {
  color: #787878;
  font-size: 0.8rem;
}

.product-buttons-container {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.product-quantity-container {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.product-quantity-title {
  font-weight: 300;
}

.product-quantity {
  border: 1px solid gray;
  width: 2rem;
  border-left: 0;
  border-right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  border: 1px solid gray;
  width: 2rem;
  align-content: center;
}

.remove-product-button,
.add-product-button {
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button,
.add-to-cart-button,
.buy-now-cart-button {
  cursor: pointer;
}

.product-quantity-buttons-container {
  display: flex;

  height: 2rem;
}

.cart-button {
  width: 10rem;
  height: 3rem;
  background-color: white;
  font-size: 1.25rem;
}

.add-to-cart-button {
  border: 1px solid #000000;
  color: #000000;
}

.add-to-cart-button:hover {
  border: 1px solid #000000db;
  color: #000000c1;
  transform: scale(1.05);
}

.buy-now-cart-button {
  background-color: #000000;
  color: white;
}

.buy-now-cart-button:hover {
  background-color: #000000db;
  transform: scale(1.05);
}

.product-cart-button-container {
  display: flex;
  gap: 1rem;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.variant-thumbnails-container {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  margin-top: 1rem;
  overflow: hidden;
  overflow-x: scroll;
  width: 336px;
}

.variant-thumbnail {
  height: 4rem;
  cursor: pointer;
}

.variant-thumbnail-active {
  height: 4rem;
  transform: scale(1.05);
  cursor: pointer;
  box-shadow: rgb(99 99 99) 2px 2px 4px;
}

@media (max-width: 1024px) {
  .product-details-container {
    flex-direction: column;
    bottom: 3rem;
    right: auto;
    gap: unset;
    margin-top: 16rem;
    align-items: center;
  }

  .product-details-image {
    max-height: initial;
  }

  .product-details-information-container {
    width: auto;
    margin-bottom: 1rem;
  }

  .product-details-information-and-thumbnails-container {
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
    width: 59vh;
    justify-content: space-between;
    flex-direction: column-reverse;
  }

  .product-details-title {
    font-size: 2rem;
  }
  .product-details-price {
    position: inherit;
  }
  .product-cart-button-container {
    margin-top: 1rem;
  }
  .variant-thumbnails-container {
    margin-top: 0;
    height: auto;
    overflow: hidden;
    overflow-x: scroll;
    width: 100%;
  }
  .variant-thumbnail,
  .variant-thumbnail-active {
    height: 3rem;
  }
}

@media (max-width: 480px) {
  .product-cart-button-container {
    margin-top: 0;
    margin-bottom: 1rem;
  }
  .cart-button {
    width: 9rem;
    font-size: 1.1rem;
  }
  .product-details-information-and-thumbnails-container {
    flex-direction: column-reverse;
    padding-bottom: 1rem;
    gap: 0;
    width: 100%;
    margin-top: 1rem;
  }
  .product-details-information-container {
    margin-top: 0;
  }
  .product-details-container {
    justify-content: unset;
    margin-top: 1rem;
  }
  .product-details-image {
    height: auto;
    width: 100%;
  }
  .variant-thumbnails-container {
    overflow: hidden;
    overflow-x: scroll;
    flex-wrap: unset;
    width: 100%;
  }
}
