.product-grid {
  display: grid;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  max-width: 1000px;
  justify-items: center;
  margin: auto;
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid 1px rgba(0, 0, 0, 0);
  border-radius: 8px;
  height: 350px;
  padding-top: 4rem;
}

/* .product-card:hover {
  border: solid 1px black;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
 */
.product-image {
  height: 20rem;
  position: relative;
  bottom: 3rem;
}

.product-image:hover {
  transform: scale(1.05);
}

.product-title {
  position: relative;
  bottom: 5rem;
  width: 300px;
}

.product-price {
  position: relative;
  bottom: 5rem;
  font-size: 1rem;
  margin: 0;
}

@media (max-width: 1440px) {
  .product-grid {
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 1rem;
  }
}

@media (max-width: 1024px) {
  .product-grid {
    grid-template-columns: 1fr 1fr;
    margin-bottom: 1rem;
  }
}

@media (max-width: 480px) {
  .product-grid {
    grid-template-columns: 1fr;
    margin-bottom: 1rem;
  }
  .product-card-link-container {
    width: 100%;
    background-color: #eae9e970;
    border-radius: 8px;
    border: 1px solid #d3d3d3a3;
  }
  /*  .product-card {
  } */
  .product-image {
    height: auto;
    width: 100%;
  }
}
