.product-grid {
  display: grid;
  gap: 1rem;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  max-width: 1000px;
  margin: auto;
  margin-bottom: 1rem;
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.product-card-link-container {
  border-radius: 4px;
  background-color: #f1f1f187;
  box-shadow: #63636333 0 2px 2px;
  max-width: 330px;
  transition: transform 0.2s ease-in-out;
}

.product-card-link-container:hover {
  transform: scale(1.05);
}

.product-card-details-container {
  align-self: center;
  margin: 1rem;
}

.product-image {
  height: 20rem;
}

.product-title {
  font-size: 2rem;
  font-weight: 300;
}

@media (max-width: 1440px) {
  .product-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 1024px) {
  .product-grid {
    grid-template-columns: 1fr 1fr;
    width: 660px;
  }
  .product-card {
    width: 100%;
  }
}

@media (max-width: 700px) {
  .product-grid {
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .product-grid {
    grid-template-columns: 1fr;
    margin-top: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .product-card-link-container {
    width: 100%;
    max-width: unset;
  }
  .product-card-link-container:hover {
    transform: scale(1);
  }
  .product-image {
    height: auto;
    width: 100%;
  }
}
