.product-grid {
  display: grid;
  gap: 1rem;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  max-width: 1000px;
  margin: auto;
  margin-bottom: 1rem;
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
}

.product-card-link-container {
  border-radius: 4px;
  background-color: #f1f1f187;
  box-shadow: #63636333 0 2px 2px;
  width: 320px;
  transition: transform 0.2s ease-in-out;
}

.product-card-link-container:hover {
  transform: scale(1.05);
}

.product-card-details-container {
  align-self: center;
  margin: 1rem;
}

.product-image {
  height: 20rem;
  border-radius: 4px 4px 0 0;
}

.product-title {
  font-size: 2rem;
  font-weight: 300;
}

.no-search-results-text {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(-320px + 100vh);
  color: #343434;
}

.search-bar-container-mobile {
  display: none;
}

.search-input-mobile {
  display: none;
}

.search-bar-icon-mobile {
  display: none;
}

input[type="text"].search-input-mobile {
  display: none;
}

.product-type-label {
  position: absolute;
  bottom: 5rem;
  right: 0.5rem;
  background: rgba(255, 255, 255);
  color: black;
  padding: 0.3rem 0.6rem;
  font-size: 0.75rem;
  border-radius: 4px;
  white-space: nowrap;
  border: 0.5px solid black;
}

@media (max-width: 1440px) {
  .product-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 1024px) {
  .product-grid {
    grid-template-columns: 1fr 1fr;
    width: 660px;
  }
  .product-card {
    width: 100%;
  }
}

@media (max-width: 700px) {
  .product-grid {
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .product-grid {
    margin-top: 9.7rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .product-card-link-container {
    width: 100%;
    max-width: unset;
  }
  .product-card-link-container:hover {
    transform: scale(1);
  }
  .product-image {
    height: auto;
    width: 100%;
  }

  .search-bar-container-mobile {
    display: block;
    width: calc(100%);
    position: fixed;
    top: 0rem;
    height: 9.7rem;
    background-color: white;
    left: 0;
    z-index: 1;
  }

  .search-input-mobile {
    display: block;
    margin-top: 1rem;
    outline: none;
  }

  .search-input-mobile:focus {
    border: 1px solid #343434;
  }

  .search-bar-icon-mobile {
    display: block;
    height: 2.5rem;
    position: relative;
    top: -2.5rem;
    right: -1.5rem;
  }

  input[type="text"].search-input-mobile {
    display: block;
    width: calc(100% - 2rem);
    margin-left: 1rem;
    margin-top: 6rem;
    padding-left: 46px;
  }

  .no-search-results-text {
    height: calc(100vh + 77px);
  }
}
