.product-grid {
  display: grid;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  max-width: 1000px;
  justify-items: center;
  margin: auto;
  margin-bottom: 1rem;
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border-radius: 8px;
  height: 300px;
  padding-top: 5rem;
}

.product-card-link-container {
  border-radius: 4px;
  background-color: #f1f1f187;
  box-shadow: #63636333 0 2px 2px;
  max-width: 330px;
}

.product-card-link-container:hover {
  transform: scale(1.05);
}

.product-card-details-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  bottom: 5rem;
  margin-left: 1.25rem;
}

.product-image {
  height: 20rem;
  position: relative;
  bottom: 3rem;
}

.product-title {
  font-size: 2rem;
  font-weight: 500;
}

.product-detail {
  margin: 0.5rem 0;
  color: #0000009e;
}

.product-price {
  font-size: 1.5rem;
  margin: 0;
  font-weight: 300;
}

@media (max-width: 1440px) {
  .product-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 1024px) {
  .product-grid {
    grid-template-columns: 1fr 1fr;
    width: 660px;
  }
  .product-card {
    width: 100%;
  }
}

@media (max-width: 700px) {
  .product-grid {
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .product-grid {
    grid-template-columns: 1fr;
    margin-top: 1rem;
    width: 100%;
  }
  .product-card-link-container {
    width: 100%;
  }
  .product-image {
    height: auto;
    width: 100%;
  }
}
